.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-out, visibility 0.1s ease-out;
  overflow: hidden;
}

.overlayVisible {
  visibility: visible;
  opacity: 1;
}

.overlayVisible .drawer {
  transform: translateX(0);
}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}

.drawer h2 {
  margin: 0;
}

.basketTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.items {
  flex: 1;
  overflow: auto;
  margin-bottom: 40px;
}

.name {
  text-transform: uppercase;
  font-weight: 400;
}

.cartItem {
  display: flex;
  border: 1px solid #5b5b5b8f;
  padding: 20px;
  margin-bottom: 20px;
  align-items: center;
  text-align: left;
}

.title {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
}

.subtotal,
.shipping {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtotal {
  margin-bottom: 20px;
}

.shipping {
  margin-bottom: 30px;
}

@media (max-width: 380px) {
  .drawer {
    width: 375px;
  }
}
